*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 12vh;
    width: 100vw;
}

.nav-right{
    display: flex;
}

.nav-heading{
    padding-left: 1rem;
}

.dropdown-toggle{
    padding-right: 1rem;
}

.topnews-header{
    height: 5rem;
    width: 90vw;
    display: flex;
    border-bottom: 1px solid grey;
}

.topnews-text{
    font-size: 1.5rem
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    height: 20rem;
    object-fit: cover;
}

.card{
    min-height: 60vh;
    width: 40vw !important;
    margin: 2rem 1rem 2rem 1rem;
}