*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 12vh;
    width: 100vw;
}

.nav-right{
    display: flex;
    padding-right: 1rem;
}

.nav-heading{
    padding-left: 1rem;
}

.dropdown-toggle{
    padding-right: 1rem;
}

.topnews-header{
    height: 5rem;
    width: 90vw;
    display: flex;
    border-bottom: 1px solid grey;
}

.topnews-text{
    font-size: 1.5rem
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    height: 20rem;
    object-fit: cover;
}

.card{
    min-height: 60vh;
    width: 35vw !important;
    margin: 2rem 1rem 2rem 1rem;

}

.accordion-body{
    overflow-y: scroll;
}

.accordion-button{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

.card-publisher{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

.card-title{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
}

.card-text{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

.card-content__accordion{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

.footer{

}

.footer-left{


}

.footer-right{

    
}